.menu-item-small {
  margin-left: 16px;
  margin-bottom: 8px;
  fill: $first-light;
  color: $first-light;
  transition: all 0.5s;
  list-style: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  @include tablet {
    font-size: 18px;
  }
  @include both-phones {
    font-size: 14px;
  }
  &:hover {
    fill: $first-dark;
    color: $first-dark;
  }
}
