.menu-item-small {
  margin-left: 16px;
  margin-bottom: 8px;
  fill: $first;
  color: $first;
  transition: all 0.5s;
  cursor: pointer;
  &:hover {
    fill: $second-dark;
    color: $second-dark;
  }
}
