.AssociateCard {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 260px;
  padding: 16px;
  border-radius: 16px;
  background-color: $light;
  @include tablet {
    width: 90%;
  }
  @include both-phones {
    margin: 16px auto;
    width: 90%;
  }
  h5 {
    margin: 8px 0 0 0;
    color: $first;
  }
  p {
    margin-bottom: 16px;
  }
  button {
    border: none;
    color: $first;
    cursor: pointer;
    font-weight: 600;
  }
}
