.Diffusion {
  &__Info {
    margin: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    background-color: $light;
    @include both-phones {
      margin: 8px;
      padding: 16px;
      border-radius: 8px;
    }
  }
  &__Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include phone-and-tablet {
      grid-template-columns: 1fr;
    }
    img {
      margin: auto 0;
      max-width: 100%;
    }
  }
}
