.ButtonAlt {
  border: none;
  padding: 20px;
  width: 100%;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  border-radius: 16px;
  background-color: transparent;
  cursor: pointer;
  text-align: center;

  &-ThirdDarkest {
    color: $third-darkest;
    &:hover {
      color: $first-light;
    }
  }
  &-Light {
    color: $light;
    &:hover {
      color: $first-dark;
    }
  }
}
