.ImageText {
  width: 328px;
  height: 260px;
  & span {
    background-color: transparent;
    overflow: hidden;
    & img {
      border-radius: 16px;
      width: 328px;
      height: 233px;
      object-fit: cover;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  & p {
    color: $light;
  }
  &-selected {
    border: 8px solid $second;
  }
}
