.ModalAssociate {
  padding-top: 40px;
  width: 480px;
  height: 100vh;
  @include both-phones {
    width: 100%;
  }
  & h2 {
    text-align: center;
    color: $first;
  }
  &__Form {
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    color: $third;
    @include tablet {
      height: 40%;
    }
    @include both-phones {
      height: 60%;
    }
    &__Btn {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 40px;
      & a:nth-child(2) {
        color: #ee4266;
      }
    }
  }
}
