.conferencist-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 500px;
  min-height: 260px;
  margin: 8px;
  border-radius: 16px;
  padding: 24px;
  background-color: $first-dark;
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h3 {
      color: $second;
    }
    h5 {
      color: $light;
    }
    p {
      color: $first-light;
    }
  }
}
