.conferencist-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 500px;
  min-height: 260px;
  margin: 8px;
  border-radius: 16px;
  padding: 24px;
  background-color: $first-dark;
  @include tablet {
    width: 80%;
    margin: 16px auto;
  }
  @include both-phones {
    grid-template-columns: 1fr;
    width: 98%;
    margin: 16px auto;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h3 {
      color: $second;
      @include both-phones {
        margin-top: 24px;
      }
    }
    h5 {
      color: $light;
    }
    p {
      color: $first-light;
    }
  }
}
