.InfoButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 30px;
  button {
    margin-left: 10px;
    padding: 8px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  &__Text {
    color: $third-darkest;
  }
  &__Btn {
    &-Edit {
      color: $first;
    }
    &-Remove {
      color: $second;
    }
  }
}
