.ModalEmail {
  padding-top: 40px;
  width: 480px;
  height: 100vh;
  @include both-phones {
    width: 100%;
  }
  & h2 {
    text-align: center;
    color: $first;
  }
  &__Form {
    min-height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    color: $third;
    @include both-phones {
      min-height: 90%;
    }
    &__Btn {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 40px;
      a {
        margin-top: 16px;
      }
    }
  }
}
