.SectionTitle {
  &__Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 32px 5%;
    @include both-phones {
      width: 90%;
      margin: 16px auto;
    }
  }
  &__Info {
    padding-right: 40px;
    min-width: 70%;
    @include both-phones {
      padding: 0;
      min-width: 100%;
      margin: 16px 0;
    }
    h1,
    p {
      color: $light;
    }
  }
}
