.OrganizerCard {
  &__Container {
    margin: 16px auto;
    padding: 16px;
    display: grid;
    grid-template-columns: 85% 15%;
    width: 340px;
    border-radius: 8px;
    background-color: $third-lightest;
  }
  &__Info {
    strong {
      color: $first;
    }
  }
}
