.organizer-card {
  &__container {
    display: grid;
    grid-template-columns: 85% 15%;
    width: 340px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 8px;
    background-color: $third-lightest;
  }
  &__info {
    strong {
      color: $first;
    }
  }
}
