.Header {
  margin: 0 auto;
  max-width: 1300px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include tablet {
    height: 120px;
  }
  @include phone {
    height: 100px;
  }
  @include phone-small {
    height: 100px;
  }
  &__Nav {
    width: 50%;
    @include desktop {
      margin-right: 16px;
      width: 70%;
    }
    @include tablet {
      margin-right: 16px;
      width: 90%;
    }
    @include both-phones {
      display: none;
    }
    &--Responsive {
      display: none;
      @include both-phones {
        display: block;
      }
      button {
        margin-right: 32px;
        background: transparent;
        border: none;
        outline: none;
      }
    }
  }
  &__Logo {
    display: flex;
    align-items: center;
    width: 200px;
    height: 80%;
    img {
      object-fit: contain;
      width: 100%;
      height: 80px;
    }
    @include desktop {
      width: 180px;
      height: 100%;
    }
    @include both-phones {
      margin-left: 16px;
      width: 160px;
      height: 100%;
    }
  }
  li {
    list-style: none;
  }
}
