.EventCard {
  margin: 24px auto;
  padding: 24px;
  width: 40%;
  border-radius: 16px;
  background-color: $light;
  @include tablet {
    width: 100%;
  }
  @include both-phones {
    padding: 16px;
    width: 90%;
  }
  h3 {
    color: $first;
  }

  &__Data {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include both-phones {
      margin-bottom: 16px;
      flex-direction: column;
    }
  }
  &__Numeralia {
    margin: 24px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include both-phones {
      flex-direction: column;
    }
  }
  &__Footer {
    display: flex;
    flex-direction: row;
    @include both-phones {
      flex-direction: column;
      div {
        margin-bottom: 8px;
      }
    }
  }
}
