.RegisterOne {
    width: 80%;
    margin: 40px auto;
    border-radius: 16px;
    padding: 40px;
    background-color: $third;
    @include both-phones {
      width: 90%;
    }
    h2 {
      color: $dark;
    }
    &__Form {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      input {
        margin: 8px auto;
      }
    }
  }
  #mail{
    width: 80%;
    height: 56px;
    border: none;
    @include both-phones {
        width: 90%;
      }
  }
  #submit{
      width: 265px;
      height: 65px;
      border-radius: 4px;
      border: none;
      font-size: 24px;
      @include both-phones {
        width: 165px;
      }
  }
  