.about-page__team {
  width: 80%;
  margin: 40px auto;
  h2 {
    margin-bottom: 24px;
    text-align: center;
    color: $first;
  }
  .about-page__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
