.About__Team {
  width: 80%;
  margin: 40px auto;
  h2 {
    margin-bottom: 24px;
    text-align: center;
    color: $first-dark;
  }
  &__Grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    @include tablet {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 400px 400px;
    }
    @include both-phones {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
