.Register {
  width: 80%;
  margin: 40px auto;
  border-radius: 16px;
  padding: 40px;
  background-color: $first-light;
  @include both-phones {
    width: 90%;
  }
  h2 {
    text-align: center;
    color: $first-dark;
  }
  &__Form {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    input {
      margin: 8px auto;
    }
  }
}
