.SetupEvent {
  padding: 32px 0 0 60px;
  width: 95%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  border-radius: 16px;
  background-color: $light;
  @include tablet {
    padding: 40px 80px;
    min-height: 70vh;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }
  @include both-phones {
    padding: 16px 24px;
    min-height: 80vh;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }
  &__Data {
    margin: auto 0;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include both-phones {
      height: 100%;
    }
    h3 {
      margin: 0;
      font-weight: 800;
      color: $first;
    }
    p {
      line-height: 22px;
    }
    &-Form {
      margin-top: 40px;
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  img {
    width: 100%;
    @include both-phones {
      margin-top: 40px;
    }
  }
}
