.IconName {
  display: inline-block;
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    min-height: 200px;
    padding: 16px;
    transition: all 0.5s ease-in-out;
    color: $light;
    &:hover {
      color: $second-light;
    }
  }
  @include phone-and-tablet {
    width: 160px;
    min-height: 160px;
  }
  h6 {
    margin-top: 16px;
  }
  svg {
    margin: 0;
  }
}
