.Templates {
  &__Container {
    margin-top: 40px;
    @include both-phones {
      margin-top: 24px;
    }
    h2 {
      color: $light;
    }
    p {
      color: $light;
      margin-bottom: 24px;
    }
  }
  &__Options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    @include tablet {
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
    @include both-phones {
      grid-template-columns: 1fr;
    }
  }
}
