.Button {
  border: none;
  padding: 20px;
  width: 100%;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  border-radius: 16px;
  cursor: pointer;
  outline: none;
  text-align: center;
  &-Primary {
    &-First {
      background-color: $first;
      color: $light;
      &:hover {
        background-color: $first-dark;
        color: $first-lightest;
      }
    }
    &-Second {
      background-color: $second;
      color: $light;
      &:hover {
        background-color: $second-light;
        color: $second-dark;
      }
    }
    &-Light {
      background-color: $light;
      color: $first;
      &:hover {
        background-color: $first-dark;
        color: $light;
      }
    }
    &-Transparent {
      background-color: transparent;
      color: $dark;
      &:hover {
        background-color: $second-light;
        color: $light;
      }
    }
  }
  &-Secondary {
    border-radius: 4px;
    background-color: $second;
    color: $light;
    &:hover {
      background-color: $second-lightest;
      color: $third-dark;
    }
  }
}
