.dashboard-menu {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 16px;
  background-color: $light;
  ul {
    list-style: none;
    font-size: 34px;
  }
}
