.NoData__Container {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  img {
    margin: 0 auto;
    width: 40%;
  }
  h3,
  h5 {
    width: 100%;
    text-align: center;
    color: $light;
  }
}
