.SessionCard{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    &-First{
        background-color: $third-light;
    }
    &-Second{
        background-color: $third-lighter;
    }
    @include phone-and-tablet{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;
        text-align: center;
    }
}