.Github__Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 24px;
  h6 {
    margin: 0;
    font-size: 18px;
  }
  p {
    font-weight: 600;
    margin-top: 8px;
    color: $second;
  }
}
