.github__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  &-Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px;
    width: 300px;
    span {
      margin: 0;
      font-size: 18px;
    }
  }
  p {
    text-align: center;
    font-weight: 600;
    // margin-top: 8px;
    color: $second;
  }
}
