.sidebar-menu-small {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 10%;
    height: 100vh;
    padding: 24px;
    img {
      margin: 24px 0;
    }
  }
  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
