.Information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 40px auto;
  @include both-phones {
    width: 90%;
    grid-template-columns: 1fr;
  }
  &__Container {
    grid-column-start: 2;
    @include both-phones {
      grid-column-start: 1;
    }
    h2 {
      color: $second;
      margin-bottom: 16px;
    }
    p {
      color: $first-light;
    }
  }
}
