* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

// --------------------------------- Colors

$first: #004643;
$first-dark: #001e1d;
$first-light: #abd1c6;
$second: #f9bc60;
$light: #fffffe;

// --------------------------------- Typography

.Template__H1 {
  font-weight: 800;
  font-size: 65px;
  @include tablet {
    font-size: 44px;
  }
  @include both-phones {
    font-size: 34px;
  }
}

.Template__H2 {
  font-weight: 800;
  font-size: 34px;
  @include tablet {
    font-size: 28px;
  }
  @include both-phones {
    font-size: 24px;
  }
}

.Template__H3 {
  font-weight: 800;
  font-size: 24px;
  @include tablet {
    font-size: 20px;
  }
  @include both-phones {
    font-size: 18px;
  }
}

.Template__H4 {
  font-weight: 600;
  font-size: 24px;
  @include tablet {
    font-size: 20px;
  }
  @include both-phones {
    font-size: 18px;
  }
}

.Template__H5 {
  font-weight: 600;
  font-size: 18px;
}

.Template__H6 {
  font-weight: 500;
  font-size: 18px;
}

.Template__P {
  font-weight: 400;
  font-size: 18px;
}

.TemplateTwo__Body {
  background-color: $first;
}
