.SvgIcon {
  margin-right: 8px;
  height: 1em;
  fill: currentcolor;
  /* currentColor acts as a variable by taking
      color the parent node. 
  */
}
.SvgIcon--Twitter {
  fill: $first;
  height: 1.4em;
}

.SvgIcon--Big {
  height: 3em;
  fill: currentcolor;
  @include both-phones {
    height: 2em;
  }
  /* currentColor acts as a variable by taking
      color the parent node. 
  */
}

.SvgIcon--Close {
  height: 2em;
  fill: $error;
  margin: auto auto;
}

.SvgIcon__Menu {
  height: 32px;
  fill: $first;
  margin: 16px 0;
  cursor: pointer;
  &:hover {
    fill: $first-dark;
  }
  @include both-phones {
    height: 24px;
  }
}

.SvgIcon__Menu--Small {
  height: 24px;
  fill: $first;
  margin: 8px 0;
  cursor: pointer;
  &:hover {
    fill: $first-dark;
  }
  @include both-phones {
    height: 18px;
  }
}
