.svg-icon {
  margin-right: 8px;
  height: 1em;
  fill: currentcolor;
  /* currentColor acts as a variable by taking
      color the parent node. 
  */
}
.svg-icon_twitter {
  fill: $first;
  height: 1.4em;
}

.svg-icon-big {
  height: 3em;
  fill: currentcolor;
  /* currentColor acts as a variable by taking
      color the parent node. 
  */
}

.svg-icon-close {
  height: 2em;
  fill: $error;
  margin: auto auto;
}

.svg-icon__menu {
  height: 32px;
  fill: $first;
  margin: 16px 0;
  cursor: pointer;
  &:hover {
    fill: $first-dark;
  }
}

.svg-icon__menu--small {
  height: 24px;
  fill: $first;
  margin: 8px 0;
  cursor: pointer;
  &:hover {
    fill: $first-dark;
  }
}
