.SimpleEvent {
  margin: 24px auto;
  width: 100%px;
  @include both-phones {
    margin: 16px 0;
  }
  & img {
    object-fit: cover;
  }
}
.EventImage {
  height: 160px;
}
.EventDescription {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  @include both-phones {
    flex-wrap: wrap;
  }
  div {
    margin: 0 16px;
  }
}
