@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 18px;
}

h1 {
  font-size: 44px;
  font-weight: 800;
  @include tablet {
    font-size: 34px;
  }
  @include phone {
    font-size: 28px;
  }
  @include phone-small {
    font-size: 28px;
  }
}

h2 {
  font-size: 34px;
  font-weight: 800;
  @include tablet {
    font-size: 28px;
  }
  @include both-phones {
    font-size: 24px;
  }
}

h3 {
  font-size: 34px;
  font-weight: 600;
  @include tablet {
    font-size: 28px;
  }
  @include both-phones {
    font-size: 24px;
  }
}

h4 {
  font-size: 24px;
  font-weight: 800;
  @include tablet {
    font-size: 22px;
  }
  @include both-phones {
    font-size: 18px;
  }
}

h5 {
  font-size: 24px;
  font-weight: 600;
  @include tablet {
    font-size: 22px;
  }
  @include both-phones {
    font-size: 18px;
  }
}

h6 {
  font-size: 24px;
  font-weight: 400;
  @include tablet {
    font-size: 22px;
  }
  @include both-phones {
    font-size: 18px;
  }
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

p {
  font-size: 18px;
  font-weight: 400;
}

.app-layout {
  display: grid;
  grid-template-columns: 20% 80%;
}

// .Button {
//   border: none;
//   border-radius: 16px;
//   text-transform: capitalize;
//   font-style: normal;
//   font-weight: 600;
//   font-size: 18px;
//   line-height: 22px;
// }
// .BtnFirst {
//   background-color: $first;
//   color: $light;
//   &:hover {
//     background-color: $first-light;
//   }
//   &:active {
//     background-color: $first-dark;
//   }
// }

// .BtnSecond {
//   background-color: $second;
//   color: $dark;
//   &:hover {
//     background-color: $second-light;
//   }
//   &:active {
//     background-color: $second-dark;
//   }
// }

// .BtnThird {
//   background-color: $third;
//   color: $dark;
//   &:hover {
//     background-color: $third-light;
//   }
//   &:active {
//     background-color: $third-dark;
//   }
// }

// .BtnLight {
//   background-color: $third;
//   color: $dark;
//   &:hover {
//     background-color: $third-light;
//   }
//   &:active {
//     background-color: $third-dark;
//   }
// }

// .BtnTransparent {
//   background-color: transparent;
//   color: $third-darkest;
//   &:hover {
//     background-color: $third-light;
//   }
//   &:active {
//     background-color: $third-dark;
//   }
// }

// .BtnSmall {
//   width: 190px;
//   height: 60px;
// }

// .BtnRegular {
//   width: 260px;
//   height: 60px;
// }

// .BtnLarge {
//   width: 350px;
//   height: 60px;
// }

.Backgroundfirst {
  background-color: $first-lightest;
}

.Backgroundsecond {
  background-color: $second-lightest;
}
