//Colors

//dark = black
//ligth = white

//first = blue
//second = orange
//third = grey

//alternative: (coral, blush, lilac)

$dark: #000;
$light: #fff;

$first: #0068ff;
$first-dark: #003480;
$first-light: #4d95ff;
$first-lightest: #e6f0ff;

$second: #ff8946;
$second-dark: #66371c;
$second-light: #ffac7e;
$second-lightest: #fff3ed;

$third: #92929d;
$third-darkest: #3a3a4e;
$third-dark: #666675;
$third-light: #d3d3d8;
$third-lightest: #e9e9eb;

$error: #ee4266;

$alternative1: #f18d8d;
$alternative2: #e15f8b;
$alternative3: #d991ff;
