.SpeakerCard {
  margin: 16px 0;
  padding: 16px;
  width: 70%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-column-gap: 8px;
  border-radius: 16px;
  background-color: $light;
  @include tablet {
    margin: 8px auto;
    width: 100%;
    grid-template-columns: 25% 75%;
    grid-column-gap: 8px;
  }
  @include both-phones {
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 120px 1fr;
    grid-column-gap: 8px;
  }
  &__Photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
      @include tablet {
        height: 60%;
        width: 60%;
      }
      @include phone {
        height: 70%;
        width: 70%;
      }
      @include phone-small {
        height: 80%;
        width: 80%;
      }
    }
  }
  &__Info {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include both-phones {
      align-items: center;
    }
    &-Name {
      display: flex;
      @include phone-and-tablet {
        justify-content: center;
      }
      figure {
        color: #00acee;
      }
      h4 {
        // padding-left: 8px;
        margin-right: 8px;
        text-transform: capitalize;
        color: $second;
      }
    }
    &-Icon {
      color: $first;
    }
    &-Bio {
      overflow-y: scroll;
    }
  }
}
